.vis-container {
  width: 100vw;
  height: 100vh;
}


.footer {
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

h4 {
  font-weight: normal;
  margin: 0em 1em 1em 0em;
  opacity: 0.5;
}